<!-- Navbar -->
<nav class="links">
	<button (click)="handleSwitch('HelloWorld')">Hello World</button>
	<button (click)="handleSwitch('Styling')">Styling</button>
	<button (click)="handleSwitch('NestingComponents')">Nesting Components</button>
	<button (click)="handleSwitch('Props')">Props</button>
	<button (click)="handleSwitch('HTML')">HTML Tags</button>
	<button (click)="handleSwitch('BasicVariables')">Basic Variables</button>
	<button (click)="handleSwitch('DependentVariables')">Dependent Variables</button>
	<button (click)="handleSwitch('ConditionalRendering')">Conditional Rendering</button>
	<button (click)="handleSwitch('ListLooping')">List Looping</button>
</nav>