.components {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(100,80,180,0.1);
  padding: 24px;
}

.mobile {
  display: none;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }

  .mobile {
    display: flex;
    justify-content: flex-end;
  }
}