---
import { componentsList } from "../../utils/components";
import Layout from "../../layouts/Layout.astro";
import DisplayComponent from "../../components/DisplayComponent.astro";
import FileReader from "../../components/FileReader.astro";

export function getStaticPaths() {
  return componentsList.map((component) => ({ params: { id: component } }));
}

const { id } = Astro.params;
---

<Layout
  title="Svelte components"
  framework="Svelte"
  component={parseInt(id as string)}
>
  <div class="w-full grid grid-cols-8">
    <div class="col-span-2">
      <DisplayComponent
        component={parseInt(id as string)}
        framework="Svelte"
      />
    </div>
    <div class="col-span-6"><FileReader /></div>
  </div>
</Layout>
