---
import Sidebar from "../components/Sidebar.astro";
import { Components } from "../utils/components";

export interface Props {
  title: string;
  framework?: "React" | "Svelte" | "Solid";
  component?: Components;
}

const { title, component = Components.HelloWorld, } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="Components from all JavaScript frameworks contained in one awesome Astro.js website."
    />
  </head>
  <body class="min-h-screen w-full bg-gray-50">
    <div class="flex h-full w-full">
      <Sidebar component={component} />
      <slot />
    </div>
  </body>
</html>
