<div class="container">
  <!-- Navbar -->
  <!-- <app-navbar></app-navbar> -->
  <nav class="links" [ngClass]="getLinksClass()">
    <div class="close">
      <div (click)="setMenuOpen(false)">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="32px"
          width="32px"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </div>
    </div>
    <button *ngFor="let component of getComponentsList(); let i = index"
      (click)="handleSwitch(getComponentKey(component))">
      {{getComponentTitle(i)}}
    </button>
  </nav>
  <!-- Components -->
  <!-- <app-page-content></app-page-content> -->
  <div [ngClass]="getComponentsClass()">
    <div class="mobile">
      <div (click)="setMenuOpen(true)">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="32px"
          width="32px"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </div>
    </div>
    <h1 class="heading">Heading</h1>
    <!-- Instead of using an anchor to render dynamically, we can use ngSwitch as well -->
    <!-- That might be easier to read. Eg: -->
    <!--    <ng-container [ngSwitch]="currentComponent">  -->
    <!--      <app-hello-world *ngSwitchCase="1"></app-hello-world> -->
    <!--      &lt;!&ndash; more components &ndash;&gt;  -->
    <!--    </ng-container> -->

    <ng-container #anchor></ng-container>
  </div>
</div>