<div class="container">
  <!-- Navbar -->
  <!-- <app-navbar></app-navbar> -->
  <nav class="links">
    <button *ngFor="let component of getComponentsList(); let i = index"
      (click)="handleSwitch(getComponentKey(component))">
      {{getComponentTitle(i)}}
    </button>
  </nav>
  <!-- Components -->
  <!-- <app-page-content></app-page-content> -->
  <div class="components">
    <h1 class="heading">Heading</h1>
    <!-- Instead of using an anchor to render dynamically, we can use ngSwitch as well -->
    <!-- That might be easier to read. Eg: -->
    <!--    <ng-container [ngSwitch]="currentComponent">  -->
    <!--      <app-hello-world *ngSwitchCase="1"></app-hello-world> -->
    <!--      &lt;!&ndash; more components &ndash;&gt;  -->
    <!--    </ng-container> -->

    <ng-container #anchor></ng-container>
  </div>
</div>