.container {
  display: flex;
  width: 100vw;
  height: 100%;
}

.links {
  display: flex;
  flex-direction: column;
  background-color: rgba(84, 105, 215, 0.5);
  padding: 16px 8px;
  height: 100vh;
  overflow-y: scroll;
}
.links button {
  background-color: rgba(84, 105, 215, 1);
  color: white;
  margin: 12px;
  padding: 12px 6px;
  border-radius: 16px;
  text-transform: uppercase;
  list-style: none;
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.links button:hover {
  background-color: rgb(56, 78, 189);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.close {
  display: none;
}

.open-links {
  display: flex;
}


@media screen and (max-width: 480px) {
  .links {
    display: none;
    width: 100%;
    height: 100%;
  }

  .open-links {
    display: flex;
  }

  .close {
    display: flex;
    justify-content: flex-end;
    padding-right: 16px;
  }
}

.components {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(100,80,180,0.1);
  padding: 24px;
}

.components-close {
  display: none;
}

.mobile {
  display: none;
}

.heading {
  font-size: 2.5rem;
  font-weight: 800;
  color: rgb(0, 0, 92);
}

@media screen and (max-width: 480px) {
  .mobile {
    display: flex;
    justify-content: flex-end;
  }

  .heading {
    font-size: 2rem;
  }
}
