<div class="container">
  <nav class="links">
    <button (click)="handleSwitch(0)">Hello World</button>
    <button (click)="handleSwitch(1)">Styling</button>
    <button (click)="handleSwitch(2)">Nesting Components</button>
    <button (click)="handleSwitch(3)">HTML Tags</button>
    <button (click)="handleSwitch(4)">Basic Variables</button>
    <button (click)="handleSwitch(5)">Dependent Variables</button>
    <button (click)="handleSwitch(6)">Props</button>
    <button (click)="handleSwitch(7)">Conditional Rendering</button>
    <button (click)="handleSwitch(8)">List Looping</button>
  </nav>
  <div class="components">
    <app-hello-world *ngIf="currentComponent===0"></app-hello-world>
    <app-styling *ngIf="currentComponent===1"></app-styling>
    <app-nesting-components *ngIf="currentComponent===2"></app-nesting-components>
    <app-html *ngIf="currentComponent===3"><strong>HTML!!!</strong></app-html>
    <app-basic-variables *ngIf="currentComponent===4"></app-basic-variables>
    <app-dependent-variables *ngIf="currentComponent===5"></app-dependent-variables>
    <app-props *ngIf="currentComponent===6"></app-props>
    <app-conditional-rendering *ngIf="currentComponent===7"></app-conditional-rendering>
    <app-list-looping *ngIf="currentComponent===8"></app-list-looping>
  </div>
</div>