---
import MinimalLayout from "../layouts/MinimalLayout.astro"
import FrameworkCard from "../components/FrameworkCard.astro"
---

<MinimalLayout title="Explore JavaScript Frameworks">
  <main class="min-h-screen w-full pt-8 pb-20 px-4 bg-gray-200 sm:px-6 lg:px-12">
    <h1 class="mt-4 font-extrabold text-center text-5xl">
      Welcome to <span
        class="text-transparent bg-clip-text bg-gradient-to-r from-purple-800 to-pink-500"
        >Astro</span
      >
    </h1>
    <ul
      role="list"
      class="mt-6 grid grid-cols-12 gap-4 text-center font-semibold lg:gap-6"
    >
      <li class="col-span-12 md:col-span-6 xl:col-span-4">
        <FrameworkCard framework="React" url="https://beta.reactjs.org/" />
      </li>
      <li class="col-span-12 md:col-span-6 xl:col-span-4">
        <FrameworkCard framework="Vue" url="https://vuejs.org/" />
      </li>
      <li class="col-span-12 md:col-span-6 xl:col-span-4">
        <FrameworkCard framework="Svelte" url="https://svelte.dev/" />
      </li>
      <li class="col-span-12 md:col-span-6 xl:col-span-4">
        <FrameworkCard framework="Solid" url="https://www.solidjs.com/" />
      </li>
    </ul>
  </main>
</MinimalLayout>
