---
import MinimalLayout from "../layouts/MinimalLayout.astro"
import FrameworkCard from "../components/FrameworkCard.astro"
import type { Framework } from "../utils/components"

const frameworks: { name: Framework; url: string }[] = [
  { name: "React", url: "https://beta.reactjs.org/" },
  { name: "Vue", url: "https://vuejs.org/" },
  { name: "Svelte", url: "https://svelte.dev/" },
  { name: "Solid", url: "https://www.solidjs.com/" },
  { name: "Preact", url: "https://www.solidjs.com/" },
  { name: "Lit", url: "https://www.solidjs.com/" },
]
---

<MinimalLayout title="Explore JavaScript Frameworks">
  <main
    class="min-h-screen w-full pt-8 pb-20 px-4 bg-gray-200 sm:px-6 lg:px-12"
  >
    <h1 class="mt-4 font-extrabold text-center text-5xl">
      Welcome to <span
        class="text-transparent bg-clip-text bg-gradient-to-r from-purple-800 to-pink-500"
        >Astro</span
      >
    </h1>
    <ul
      role="list"
      class="mt-6 grid grid-cols-12 gap-4 text-center font-semibold lg:gap-6"
    >
      {
        frameworks.map((framework) => (
          <li class="col-span-12 md:col-span-6 xl:col-span-4">
            <FrameworkCard framework={framework.name} url={framework.url} />
          </li>
        ))
      }
    </ul>
  </main>
</MinimalLayout>
