---
import Layout from "../layouts/Layout.astro";
import Svelte from "../components/Svelte.svelte";
import Vue from "../components/Vue.vue";
import Preact from "../components/Preact";
import React from "../components/React";
import Solid from "../components/Solid";
import { Lit } from "../components/Lit";
---

<Layout title="7 in 1 | JavaScript Frameworks">
  <main class="m-auto p-6 max-w-screen-sm">
    <h1 class="mt-4 font-extrabold text-center text-5xl">
      Welcome to <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-800 to-pink-500">Astro</span>
    </h1>
    <ul
      role="list"
      class="mt-6 p-4 grid grid-cols-2 gap-2 text-center font-semibold"
    >
      <li class="text-blue-600"><React client:load /></li>
      <li class="text-green-700"><Vue client:load /></li>
      <li class="text-indigo-700"><Solid client:load /></li>
      <li class="text-orange-600"><Svelte client:load /></li>
      <li class="text-purple-700"><Preact client:load /></li>
      <li class="text-teal-800"><Lit client:load /></li>
    </ul>
  </main>
</Layout>
