---
import Layout from "../layouts/Layout.astro";
import Svelte from "../components/Svelte.svelte";
import Vue from "../components/Vue.vue";
import Preact from "../components/Preact";
import React from "../components/React";
import Solid from "../components/Solid";
---

<Layout title="Welcome to Astro.">
  <main class="m-auto p-6 max-w-screen-sm">
    <h1 class="font-extrabold text-5xl">Welcome to <span class="text-gradient">Astro</span></h1>
    <ul role="list" class="link-card-grid mt-4 font-semibold">
      <li><React client:load /></li>
      <li><Vue client:load /></li>
      <li><Solid client:load /></li>
      <li><Svelte client:load /></li>
      <li><Preact client:load /></li>
    </ul>
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
