.container {
  display: flex;
  width: 100vw;
  height: 100%;
}

.components {
  width: 100%;
  background-color: rgba(100,80,180,0.1);
  padding: 24px;
}

.mobile{
  display: none;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }

  .mobile {
    display: block;
  }
}