---
import { Components, componentsList, getComponentTitle } from '../utils/components';

export interface Props {
  component: Components;
}
const { component } = Astro.props;
---

<div class="h-screen bg-indigo-100 border-r border-gray-300">
  <div class="flex flex-grow flex-col overflow-y-auto pt-5">
    <div class="flex flex-shrink-0 items-center px-4">
      <img
        class="h-8 w-auto"
        src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=300"
        alt="Your Company"
      />
    </div>
    <nav class="w-56 pr-4 ">
      <ul class="mt-5 flex flex-1 flex-col">
        {
          componentsList.map((c) => (
            <li>
              <a
                href={'/svelte/'+c}
                class={
                  "block p-2 mt-1 px-3 py-2 text-base border-l-4 rounded-r-md font-medium text-gray-900 " +
                  (component === c
                    ? "border-l-indigo-700 bg-indigo-300"
                    : "border-transparent bg-indigo-100 transition-colors duration-200 hover:border-l-indigo-600 hover:bg-indigo-200 focus:border-l-indigo-700 focus:bg-indigo-300")
                }
              >
                {getComponentTitle(c)}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</div>
