---
import { Components, componentsList, Framework, getComponentTitle } from '../utils/components';

export interface Props {
  component: Components;
  framework: Framework;
}
const { component, framework } = Astro.props;
---

<div class="hidden sm:block absolute h-screen bg-blue-100 border-r border-gray-300">
  <div class="flex flex-grow flex-col overflow-y-auto pt-5">
    <div class="flex flex-shrink-0 items-center px-4">
      <img
        class="h-8 w-auto"
        src="https://tailwindui.com/img/logos/mark.svg?color=blue&shade=300"
        alt="Your Company"
      />
    </div>
    <nav class="w-56 pr-4 ">
      <ul class="mt-5 flex flex-1 flex-col">
        {
          componentsList.map((c) => (
            <li>
              <a
                href={`/${framework.toLowerCase()}/${c}`}
                class={
                  "block p-2 mt-1 px-3 py-2 text-base border-l-4 rounded-r-md font-medium text-gray-900 " +
                  (component === c
                    ? "border-l-blue-800 bg-blue-300"
                    : "border-transparent bg-blue-100 transition-colors duration-200 hover:border-l-blue-700 hover:bg-blue-200 focus:border-l-blue-800 focus:bg-blue-300")
                }
              >
                {getComponentTitle(c)}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</div>
